
<div class="home">
    <nav class="max-w-full text-white">
        <div class="mx-auto">
            <div class="flex justify-between">
                <div class="w-64 items-center stroke">
                    <a href="#" class="flex items-center">   
                        <img src="assets/img/bigger_i.svg" > 
                    </a>
                </div>
                <div class="flex items-center space-x-10 text-2xl">
                    <div class="hover:text-gray-300"><a href="#">Home</a></div>
                    <div class="hover:text-gray-300"><a href="#">About</a></div>
                    <div class="hover:text-gray-300"><a href="#">Services</a></div>
                    <div class="hover:text-gray-300"><a href="#">Blog</a></div>
                    <button type="button" class="transition duration-500 ease-in-out text-2xl px-4 py-2 leading-none border rounded-full text-indigo-900 bg-white transform hover:border-transparent hover:text-white hover:bg-indigo-900 hover:-translate-y-1 hover:scale-110 mt-4 lg:mt-0">Contact with Us</button>
                </div>
            </div>     
        </div>
      </nav>
      <h1>We tramsform ideas into 
          <br> 
          engaging digital experiences.
      </h1>
      <h3> Lorem Ipsum is simply dummy text of the printing and 
          <br>
    typesetting industry.
    </h3>
    <button type="button" class="text-1xl px-2 py-4 rounded-full text-white bg-indigo-900 transform hover:border-transparent hover:text-white hover:bg-gray-900 mt-4 lg:mt-0">Learn More</button>
</div>
<div class="service">

</div>
<div class="about">

</div>
<div class="email">

</div>

<div class="blog">

</div>
<div class="foot">

</div>

