<div class="home">
    <nav class="max-w-full text-white">
        <div class="mx-auto">
            <div class="flex justify-between">
                <div class="w-64 items-center stroke">
                    <a href="#" class="flex items-center">   
                        <img src="assets/img/bigger_i.svg" > 
                    </a>
                </div>
                <div class="flex items-center space-x-16 text-2xl">
                    <div class="hover:text-gray-300"><a href="#">Home</a></div>
                    <div class="hover:text-gray-300"><a href="#">About</a></div>
                    <div class="hover:text-gray-300"><a href="#">Services</a></div>
                    <div class="hover:text-gray-300"><a href="#">Blog</a></div>
                    <button type="button" class="transition duration-500 ease-in-out text-2xl leading-none border rounded-full text-indigo-900 bg-white transform hover:border-transparent hover:text-white hover:bg-indigo-900 hover:-translate-y-1 hover:scale-110 mt-4 lg:mt-0">Contact with Us</button>
                </div>
            </div>     
        </div>
      </nav>
      <div class="h-4/5 flex flex-col justify-center items-start">
        <h1 class="text-5xl font-bold ">We transform ideas into</h1>
          <h2 class="text-4xl font-bold">engaging digital experiences.</h2>
        <h3 class="text-1xl text-gray-600 font-semibold tracking-wide"> Lorem Ipsum is simply dummy text of the printing and 
            <br>
      typesetting industry.
      </h3>
      <button id="btn-lm" type="button" class="text-2xl duration-500 rounded-full text-white bg-indigo-900 transform hover:border-transparent hover:text-white hover:bg-gray-900 mt-4 lg:mt-0">Learn More</button>
    </div> 
    <div class="flex justify-center space-x-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 opacity-50 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 opacity-50 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 opacity-50 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
    </div>

</div>
<div class="service flex">
<div class="card flex-1">
<img src="assets/img/ser.jpeg" class="h-full w-3/4">
</div>
<div class="ser flex-1">
  <img src="assets/img/S-wh.svg" class="h-14 w-14 bg-teal-600 rounded-full animate-pulse opacity-25">
  <h1>About the Service</h1>
<h1>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the
</h1>
</div>
</div>
<div class="about">

</div>
<div class="email">

</div>

<div class="blog">

</div>
<div class="foot">

</div>
